body {
    background-color: #E4051F;
    font-family: Arial;
    color: white;
}

a {
    color: white;
    font-weight: 100;
}

section
{
    float: left;
    border: 2px solid white;
}

#b {
    float: left;
    width: 33%;
}
#ca {
    float: left;
    width: 33%;
}
#co {
    float: left;
    width: 33%;
}
#h {
    float: left;
    width: 33%;
}
#l {
    float: left;
    width: 33%;
}
#pa {
    float: left;
    width: 33%;
}
#pe {
    float: left;
    width: 33%;
}

footer {
   margin-bottom: 0px;
}
