
#b {
    float: left;
    width: 33%;
}
#ca {
    float: left;
    width: 33%;
}
#co {
    float: left;
    width: 33%;
}
#h {
    float: left;
    width: 33%;
}
#l {
    float: left;
    width: 33%;
}
#pa {
    float: left;
    width: 33%;
}
#pe {
    float: left;
    width: 33%;
}

footer {
   margin-top: 0px;
}
